
.Chatroom{
    border:1px solid black;
    display:flex;
    align-items: center;
    cursor: pointer;
    height:10vh;
}
.Chatroom:hover { 
    background-color: lightcyan ; 
}
.Chatroom:hover ~ .icon{
    display:block;
}
.selected{
    background-color:darkgrey !important;
}

