#ChatroomsList{
    border: 1px solid black;
    height : 92vh;
    width: 20%;
    position:fixed;
    overflow-y: auto;
}
#ChatroomsList-toolbar-container{
    height : 8vh;
    width: 20%;
    position: fixed;
    bottom: 0;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content:space-evenly;

}
#ChatroomsList-toolbar{
    display:flex;
    border: 1px solid purple;
    height:100%;
    width:100%; 
}
#ChatroomsList-toolbar  button{
    width:50%;
    background-color: blue;
    color:white;
    font-weight: bold;
}
#ChatroomsList-toolbar  button:hover{
    background-color: rgb(71, 71, 208);
    cursor: pointer;
}
