#ChatroomInterface{
    left:20%;
    position:fixed;
    width:80%;
}
.ChatroomInterface-navbar{
    height:10vh;
    border:1px solid black;
    display:flex;
    justify-content: flex-end; 
}

#ChatroomInterface-textbar-container{
    height:10vh;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}

#ChatroomInterface-textbar{
    height:50%;
    width:80%;
    display: flex;
}

#ChatroomInterface-textbar .textfield{
    width:100%;
}
#ChatroomInterface-textbar button{
    width:10%;
    background-color: blue;
    color:white;
    font-weight: bold;
}
#ChatroomInterface-textbar button:hover{
    background-color: rgb(71, 71, 208);
    cursor: pointer;
}

