.Chatroom{
    border:1px solid black;
    display:flex;
    align-items: center;

}
.gg-close{
    margin-left:45%;
    display:none;
}
h3{
    margin-left:10px;
}
.Chatroom:hover  .gg-close{
    cursor: pointer;
    display:block;
}